.scheduleTable th,
td,
tr {
  padding: 10px;
  text-align: left;
  border-collapse: collapse;
}
.headerStyling {
  margin-left: 30px;
  font-style: italic;
}
.pointTableHeaderStyling {
  margin: 30px;
  font-style: italic;
}
.tableContainer {
  white-space: nowrap;
  /* margin: 25%; */
  margin-top: 20px;

  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}

.scheduleTable {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}
.scheduleTable tr:nth-child(2n) {
  background: #f5f5f5f5;
}
.stylingBreadCrumb {
  text-decoration: none;
  padding-left: 20px;
}
span {
  text-align: center;
}
.tableFirstRow:first-child {
  background: #19398a;
  border-spacing: 0;
  color: white;
}

.shadowTable {
  box-shadow: 3px 0 2px 0 hsl(0deg 0% 75% / 40%);
}
.leadersContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  flex-flow: row wrap;
}

.playerOneContainer,
.playerTwoContainer,
.playerThreeContainer,
.playerFourContainer,
.playerFiveContainer {
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  margin-bottom: 25px;
}

.playerOneContainer {
  background: linear-gradient(to right, #f12711, #f5af19);
}

.playerTwoContainer {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}
.playerThreeContainer {
  background: linear-gradient(to right, #0575e6, #021b79);
}
.playerFourContainer {
  background: linear-gradient(to right, #da4453, #89216b);
}
.awardFourStyling {
  background-color: #da4453;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}
.playerFiveContainer {
  background: linear-gradient(to right, #00b4db, #0083b0);
}
.awardFiveStyling {
  background-color: #00b4db;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

.playerFiveInfo {
  background-color: white;
  text-align: center;
}
.playerOneContainer:hover {
  transform: scale(1.1);
}
.playerTwoContainer:hover {
  transform: scale(1.1);
}

.playerThreeContainer:hover {
  transform: scale(1.1);
}
.playerFourContainer:hover{
  transform: scale(1.1);
}
.playerFiveContainer:hover{
  transform: scale(1.1);
}

.awardOneContainer,
.awardFourContainer {
  background-color: #f12711;

  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awardTwoContainer,
.awardFiveContainer {
  /* background-color: #8e2de2; */

  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awardThreeContainer,
.awardSixContainer {
  background-color: #0575e6;

  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awardOne,
.awardTwo,
.awardThree,
.awardFour,
.awardFive,
.awardSix {
  color: white;
}

.playerOneInfo {
  background-color: white;
  text-align: center;
}
.stylingName {
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}
.stylingDigit {
  font-weight: bold;
  font-size: 40px;
}
.stylingText {
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  color: grey;
}
