.stylingHeadings{
    margin: 20px;
}

.contentStyling{
    margin: 20px;
    text-align: justify;
    max-width: 900px;
    
}

.mainContainer{
    box-shadow: 4px 3px 8px 1px grey;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
}


  