.inputDataContainer{

    display: block;
    box-shadow: 4px 3px 8px 1px grey;
    width: 60%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 20%;

 
}
.stylingBreadCrumb{
  text-decoration: none;
}
.fields{
  padding: 10px;
 
}
.formContainer{
    padding: 10px;
}
.stylingError{
  color: red;
  font-style: italic;
  font-weight: bold;
}

label{
    font-weight: bold;
}

.formName{
    text-align: center;
}

.subText{
    text-align: center;
}
::placeholder{
  color: darkgray;
  filter: opacity(0.5);
  padding-left: 10px;
}

input:focus::placeholder {
  color: transparent;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}

  input[type="checkbox"]{
    margin: 20px;

    background: #f1f1f1;
  }

  input[type="radio"]{
    margin: 20px;
    background: #f1f1f1;
  }

.dropDown{
    background: #f1f1f1;
}
input[type="text"]{
    width: 100%;
    height: 40px;
    /* padding: 15px; */
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-right: 15px;
    border-radius: 10px;   
}
input:focus{
 outline: none;
  border: none;
  box-shadow: #19398a 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.submitButton {
    background-color: #19398a;
    color: white;
    /* padding: 16px 20px;  */
    border: none;
    cursor: pointer;
    width: 100%;
    
    height: 40px;
    
    margin-right: 15px;
  }

  .submitButton:hover {
    opacity:1;
  }