.mainDiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  
} 
.stylingBreadCrumb{

  text-decoration: none;

}
@media (min-width: 500px) {
    .mainDiv {
        grid-template-columns: repeat(1,1fr);
    }
  }
  
  @media (min-width: 800px) {
    .mainDiv {
        grid-template-columns: repeat(2,1fr);
    }
  }

  @media (min-width: 1000px) {
    .mainDiv {
        grid-template-columns: repeat(3,1fr);
    }
  }
  
  
   @media (min-width: 1300px) {
    .mainDiv {
        grid-template-columns: repeat(4,1fr);
    }
  } 

/* .mainDiv{
    display: flex;
    flex-flow: row wrap;
} */