@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap");

@font-face {
  font-family: "Prompt-Light", sans-serif;
  src: url(../Fonts/Prompt-Light.ttf);
}
*{
  margin: 0px;
  padding: 0px;
}
.main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.teamOneContainer {
  /* margin-top: 20px; */
  padding: 20px 10px 40px 10px;
  /* background: linear-gradient(136deg, #f12711, #f5af19); */
  /* background: linear-gradient(136deg, #005aa7, #3d3d3b); */
  background: linear-gradient(136deg, #061d42, #19398a);
  justify-content: space-evenly;
  flex-flow: column;
  display: flex;
  height: 300px;
  width: 300px;
  border-radius: 8px;
}

.teamOneContainer:hover {
  /* margin-top: 20px; */
  padding: 20px 10px 40px 10px;
  background: linear-gradient(136deg, #f5af19, #f12711);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 
}
.stylingLogo {
  align-self: center;
  height: 100px;
  width: 100px;
}
.stylingTeamName {
 
  align-self: center;
  color: white;
  font-size: 2.2rem;
  text-align: center;
  flex: 1;
}
.stylingVenue {
  color: white;
  align-self: center;
  margin-top: 15px;
  font-family: "Prompt-Light", sans-serif;
  letter-spacing: 2px;
}
.styleWonContainer {
 display: flex;
 justify-content: center;
height: 30px;
align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
 
  border-radius: 20px;
  margin: 10px 45px 20px 45px;
}
.stylingWon {
 
  color: yellow;
  

}
/* .teamDetailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
} */
.stylingLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
}
.stylingLink:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 500px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
