.ImageSlider{
    max-height: 500px;
    width: 100%;  
    border-bottom: 2px solid #ef4123;
    
}

.directionalButtons{
  display: flex;
  justify-content: center;
}

.forwardButton, .previousButton {
    background-color: #19398a;
    color: white;
   width: 40px;
   height: 40px;
    border-radius: 90%;
    margin: 5px;
    font-family: Patua One, sans-serif;
    cursor: pointer;
    outline: none;
    font-size: 30px;
}

